.card{
 
  margin: 10px;
 
  width: 300px;
 
}
.card-title{

  height: 150px;
  background-color: rgb(44, 40, 40);

}
.card-cont{
  padding: 0.5rem 3rem;
}
.btn1{
  padding: 10px 20px;
  
  margin: 15px 0px;
}
 button{
  transition: 500ms;
  border: none;
  outline: none;
  padding: 10px 5px;
  border: 1px solid black ;
  background-color: #fff;
  border-radius: 5px;
}
button:hover{
  background-color:black;
  color: #fff;

 
}
.items{
  display: flex;
  flex-direction: row-reverse;
  
}
.items button{
  margin: 10px;
  padding: 5px 10px;
}
.logo{

background-color:black;
color: #fff;
padding: 0px 5px;
margin: 0PX 5px;
border-radius: 35%;

}
